/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap');

/*Wildcard selector*/
* {
    padding: 1px;
    margin: 1px;
    box-sizing: border-box;
}

/* Global Style */
body {
    background-color: white;
    color: #000;
    font-family: 'Titillium Web', sans-serif;
}

/* Heading */
.header1 {
    color: white;
    background-color: #e10600;
    display: flex;
    align-items: center;
}

.logo {
    width: 30%;
    height: 40%;
    display: flex;
}

/* Start Input Box */
.start-box-heading{
    text-align: center;
}

.dialog {
    border: black solid;
    background-color: white;
    color: black;
    max-width: 400px;
    margin: 3%;
    position: fixed;
    padding: 1rem;
    margin-top: 15%;
    z-index: 1000;/*to keep scrolling modal in front of everything*/
}

.dialog,
.form {
    display: grid;
    min-width: auto;
    min-height: 50%;
}

.start-box-heading, 
.start-btn {
    font-family:'Titillium Web',sans-serif;
}

.start-btn {
    background-color: #e10600;
    color: white;
    border-radius: 5%;
}

.start-btn:hover {
    background-color: green;
}

.start-btn:active {
    transform: scale(1.3);
}

/* Game Info Section */
.game-info {
    margin-bottom: 7%;
}

.finish-times {
    list-style-type: none;

}


/* F1 Music Anthem Toggle*/
.button-properties {
    float: left;
    width: 30px;
}

/*Game Block */
.game-score-block {
    margin-top: 11%;
    margin-bottom: 120%;
}

/* Score Area */
.score-area {
    border: 2px solid #ffffff;
    outline: 3px solid #000000;
    border-radius: 2px;
    background-color: black;
    color: white;
    margin-top: 7%;
    margin-bottom: 11%;
    width: 100%;
    height: 110%;
    display: flex;
}

.timer-span {
    width: 60%;
    flex-wrap: wrap;
}


/* Div Player Box */
.card-driver {
    border: #e10600 solid 4px;
    border-radius: 5px;
    width: calc(47% - 20px);
    height: 140px;
    flex-wrap: wrap;
}

.card-driver img {
    width: 100%;
    height: 100%;
}

/* Cards Area */
.cards-area {
    height: 440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 35%;
    perspective: 1000px;
}

.card {
    width: calc(50% - 21px);
    height: calc(33.333% - 10px);
    margin: 5px;
    margin-left: 3.5%;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    }

    /*pseudo class will be triggered every time the element gets clicked and will apply a .2s transition to its size:*/
.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}


.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 4px;
    position: absolute;
    border-radius: 5px;
    background: #e10600;
    backface-visibility: hidden;
}

/*to rotate the card*/
.card.flip {
    transform: rotateY(180deg);
}

/*to rotate front face*/
.front-face {
    transform: rotateY(180deg);
}

/* Footer */
.social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #e10600;
    list-style-type: none;
}

/* style of popup 1st position - default hidden */
#popup-pole {
    display: none;
    position: fixed;
    top: 40%;
    border-radius: 10px;
    background-color: #000000;
    color: #d4af37;
    border: 2px solid #d4af37;
    outline: 3px solid #000000;
    width: 270px;
    height: 200px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5%;
    font-size: 150%;
}

/* style of popup 2nd position - default hidden */
#popup-second {
    display: none;
    position: fixed;
    top: 40%;
    border-radius: 10px;
    background-color: #000000;
    color: #aaa9ad;
    border: 2px solid #aaa9ad;
    outline: 3px solid #000000;
    width: 270px;
    height: 200px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5%;
    font-size: 150%;
}

/* style of popup 3rd position - default hidden */
#popup-third {
    display: none;
    position: fixed;
    top: 40%;
    border-radius: 10px;
    background-color: #000000;
    color: #a97142;
    border: 2px solid #a97142;
    outline: 3px solid #000000;
    width: 270px;
    height: 200px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5%;
    font-size: 150%;
}

/* style of popup Out of podium - default hidden */
#popup-fourth {
    position: fixed;
    top: 40%;
    border-radius: 10px;
    background-color: #000000;
    color: brown;
    border: 2px solid brown;
    outline: 3px solid #000000;
    width: 270px;
    height: 200px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 5%;
    font-size: 150%;
}

.position-phrase {
    margin-top: 7%;
    
}

.restart-btn {
    color: white;
    border: solid white;
    background-color: black;
    border-radius: 7px;
    height: 12%;
    width: 35%;
}

.restart-btn:hover {
    color: green;
}


/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    /* Form with submit Info */
    .dialog {
        margin-left: 25%;
    }

    /* Header */
    .header1 {
        height: 90px;
    }

    .logo {
        height: 90px;
        width: 20%;
        margin-left: 5%;
    }

    .header1-title {
        margin-left: 9%;
        font-size: 110%;
    }

    /* Score Area */
    .game-score-block {
        margin-bottom: 30%;
    }

    .score-area {
    margin-top: -1%;
    width: 75%;
    margin-left: 12%;
    }

    /* Div Player Box */
    .card-driver {    
    width: calc(39% - 24px);
    margin-left: 6%;
    }

    /* Cards */
   .cards-area {
    margin-left: 10.5%;
}
    .card {
    width: calc(30% - 21px);
    height: calc(32% - 10px);
    margin-left: 11%;
    }    

    /* Footer */
    .footer {
        margin-top: 20%;
    }
}

/*Media query tablet and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /* Form with submit Info */
    .dialog {
        margin-left: 30%;
    }

    /* Header */
    .header1 {
        height: 100px;
    }
    
    .logo {
        height: 100px;
        width: 15%;
    }
    
    .header1-title {
        margin-left: 16%;
    }

    .header2 {
        margin-left: 3%;
    }

    /* Game Info Section */
    .game-info {
        margin-left: 3%;
        margin-right: 3%;
    }
    
    /* F1 Music Anthem Toggle*/
    .button-properties {
        margin-left: 3%;
    }

    /* Score Area */
    .game-score-block {
        height: 150px;
    }

    .score-area {
        width: 75%;
        margin-top: -1%;
        margin-left: 3%;
    }

    /* Div Player Box */
    .card-driver {
        width: calc(33% - 25px);
        margin-left: 11%;
        height: 98%;
    }

    /* Cards */
    .cards-area {
        margin-left: -10px;
        align-content: flex-start;
    }
    .card {
        width: calc(19% - 46px);
        height: calc(25% - 2px);
        margin-left: 3%;
}

    /* Footer */
    .footer {
        margin-top: 35%;
}

    .social-networks {
        height: 75px;
        font-size: 110%;
        
}

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Body */
    .body {
        font-size: larger;
    }

    /* Form with submit Info */
    .dialog {
        margin-left: 30%;
        width: 50%;
        height: 50%;
    }

    .start-btn {
        font-size: large;
    }

    /* Header */
   .header1 {
    height: 110px;
   }

    .logo {
    height: 110px;
    width: 11%;
    margin-left: 6%;
    }

   .header1-title {
    margin-left: 20%;
}

    /* F1 Music Anthem Toggle*/
    .button-properties {
        width: 35px;
    }

    /* Score Area */
    .score-area {
    width: 60%;
    height: 120%;
    margin-top: -1%;
    margin-left: 3%;
    }
    
    /* Div Player Box */
    .card-driver {
    width: calc(32% - 2px);
    margin-left: 8%;
    }
    
    /* Cards */
    .card {
    width: calc(20% - 63px);
    height: calc(34% - 10px);
    margin-left: 2.5%;
    }

    /* Footer */
    .social-networks {
    height: 90px;
    font-size: 120%;
    }

}

/* Large devices (laptops and desktops, 1024px and up) */
@media screen and (min-width: 1024px) {

    /* Body */
    .body {
    font-size: x-large;
    }

    /* Form with Submit Info */
    .start-btn {
    font-size: 100%;
    }

    /* Header */
   .header1 {
       height: 130px;
   }

    .logo {
        height: 130px;
        width: 11%;
        margin-left: 9%;
    }

    .header1-title {
        margin-left: 17%;
    }

    /* F1 Music Anthem Toggle*/
    .button-properties {
        width: 50px;
    }

    /* Score Area */
    .score-area {
        width: 60%;
        height: 150%;
    }

    /* Div Player Box */
    .card-driver {
        width: calc(37% - 2px);
        margin-left: 2.5%;
    }
    
    /* Cards */
    .card {
    width: calc(19% - 63px);
    height: calc(34% - 10px);
    margin-left: 2.5%;
}

    /* Footer */
    .footer {
        margin-top: 45%;
    }
    
    .social-networks {
        height: 100px;
        font-size: 130%;
    } 
}

/* Large devices (laptops and desktops, 1440px and up) */
@media screen and (min-width: 1440px) {

    /* Score Area */
    .score-area {
        width: 54%;
        height: 160%;
    }

    /* Div Player Box */
   .card-driver {
        width: calc(32% - 2px);
        margin-left: 8%;
    }
    
    /* Cards */
    .card {
        width: calc(18% - 63px);
        height: calc(46% - 10px);
        margin-left: 2.5%;
    }
}

/* Large devices (laptops and desktops, 2560px and up) */
@media screen and (min-width: 2560px) {

    /* Body */
    .body {
        font-size: 300%;
    }

    /* Form with Submit Info */
    .dialog{
        max-width: 100%;
        min-height: 50%;
        margin-left: 25%;
        display: block;
    }

    .start-box-input {
        height: 60px;
    }

    /* Header */
    .header1 {
        height: 250px;
    }
    
    .logo {
        height: 250px;
        margin-left: 10%;
    }

    /* F1 Music Anthem Toggle*/
    .button-properties {
        width: 85px;
    }

    /* Score Area */
    .score-area {
        width: 51%;
        height: 300%;
    }

    /* Div Player Box */
    .card-driver {
    width: calc(34% - 2px);
    margin-left: 6%;
}

    /* Card area*/
    .card {
    width: calc(16% - 63px);
    height: calc(78% - 10px);
    margin-left: 2.5%;
}

    /* Footer */
    .footer {
    margin-top: 35%;
}
    .social-networks {
    height: 180px;
    font-size: 150%;
}
   
}