/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap');

/*Wildcard selector*/
* {
    padding: 1px;
    margin: 1px;
    box-sizing: border-box;
}

/* Global Style */
body {
    background-color: white;
    color: #000;
    font-family: 'Titillium Web', sans-serif;
}

/* Heading */
.header1 {
    color: white;
    background-color: #e10600;
    display: flex;
    align-items: center;
}

.logo {
    width: 30%;
    height: 40%;
    display: flex;
}

/* Main */
main {
    margin-bottom: 10%;
}

/* Game Info Section */
#game-info {
    margin-bottom: 7%;
}

/* F1 Music Anthem Toggle*/
#player {
    padding-top: 20%;
}

#button {
    float: left;
}

/* Game Block Area */

/* Cards Area */
.cards-area {
    width: 120%;
    height: 490px;
    margin: auto;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    perspective: 1000px;
}

.card {
    width: 30px;
    height: 50px;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #e10600;
    list-style-type: none;
}




