/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400&display=swap');

/*Wildcard selector*/
* {
    padding: 1px;
    margin: 1px;
    box-sizing: border-box;
}

/* Global Style */
body {
    background-color: white;
    color: #000;
    font-family: 'Titillium Web', sans-serif;
}

/* Heading */
.header1 {
    color: white;
    background-color: #e10600;
    display: flex;
    align-items: center;
}

.logo {
    width: 30%;
    height: 40%;
    display: flex;
}

/* Start Input Box */
.start-box-heading{
    text-align: center;
}

.dialog {
    border: black solid;
    background-color: white;
    color: black;
    max-width: 400px;
    margin: 3%;
    position: fixed;
    padding: 1rem;
    margin-top: 15%;
    z-index: 1000;/*to keep scrolling modal in front of everything*/
}

.dialog,
.form {
    display: grid;
    min-width: auto;
    min-height: auto;
}

.start-box-heading, 
.start-btn {
    font-family:'Titillium Web',sans-serif;
}

.start-btn {
    background-color: #e10600;
    color: white;
    border-radius: 5%;
}

.start-btn:hover {
    background-color: green;
}

.start-btn:active {
    transform: scale(1.3);
}

/* Main */
main {
    margin-bottom: 10%;
}

/* Game Info Section */
#game-info {
    margin-bottom: 7%;
}

.finish-times {
    list-style-type: none;

}


/* F1 Music Anthem Toggle*/
#player {
    padding-top: 20%;
}

#button {
    float: left;
    width: 30px;
}

/*Game Block */
.game-score-block {
    margin-top: 11%;
    margin-bottom: 120%;
}

/* Score Area */
.score-area {
    border: 2px solid #ffffff;
    outline: 3px solid #000000;
    border-radius: 2px;
    background-color: black;
    color: white;
    margin-top: 7%;
    margin-bottom: 11%;
    width: 100%;
    height: 110%;
    display: flex;
}

.timer-span {
    width: 60%;
    flex-wrap: wrap;
}


/* Div Player Box */
.card-driver {
    border: #e10600 solid 4px;
    border-radius: 5px;
    width: calc(47% - 20px);
    height: 140px;
    flex-wrap: wrap;
}

.card-driver img {
    width: 100%;
    height: 100%;
}

/* Cards Area */
.cards-area {
    width: 100%;
    height: 440px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-bottom: 35%;
    perspective: 1000px;
}

.card {
    width: calc(50% - 21px);
    height: calc(33.333% - 10px);
    margin: 5px;
    margin-left: 3.5%;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    }

    /*pseudo class will be triggered every time the element gets clicked and will apply a .2s transition to its size:*/
.card:active {
    transform: scale(0.97);
    transition: transform .2s;
}


.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 4px;
    position: absolute;
    border-radius: 5px;
    background: #e10600;
    backface-visibility: hidden;
}

/*to rotate the card*/
.card.flip {
    transform: rotateY(180deg);
}

/*to rotate front face*/
.front-face {
    transform: rotateY(180deg);
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    background-color: #e10600;
    list-style-type: none;
}

/* Pop up Window - End Game */

.popup-end-game {
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    min-width: 345px;
    max-width: 400px;
    height: auto;
    border: 5px solid gold;
    border-radius: 10px;
    text-align: center;
    padding-top: 20px;
    background: rgba(251, 229, 187, 1);
    font-weight: 900;
    font-size: 1.5em;
    text-transform: uppercase;
    filter: drop-shadow(30px 10px 10px #313131);
}

/* style of winning popup - default hidden */
#popup-pole {
    display: none;
    background-color: #000000;
    color: gold;
    max-width: 95%;
    height: 300px;
    
    
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width: 576px) {

    /* Form with submit Info */
    .dialog {
        margin-left: 25%;
    }

    /* Header */
    .header1-title {
        margin-left: 9%;
        font-size: 120%;
    }

    /* Score Area */
    .score-area {
    margin-top: -1%;
    }

    /* Div Player Box */
    .card-driver {    
    width: calc(30% - 25px);
    margin-left: 14%;
    }

    /* Cards */
    .card {
    width: calc(45% - 21px);
    height: calc(52% - 10px);
    margin-left: 5%;
    }    

    /* Footer */
    .footer {
        margin-top: 20%;
    }
}

/*Media query tablet and larger (768px and up)*/
@media screen and (min-width: 768px) {

    /* Form with submit Info */
    .dialog {
        margin-left: 30%;
    }

    /* Score Area */
    .score-area {
        width: 83%;
        margin-top: -1%;
        margin-left: 8%;
    }

    /* Div Player Box */
    .card-driver {
        width: calc(28% - 25px);
        margin-left: 15.5%;
    }

    /* Cards */
    .card {
        width: calc(40% - 21px);
        height: calc(58% - 10px);
        margin-left: 8%;
}

    /* Footer */
    .footer {
        margin-top: 5%;
}

}

/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {

    /* Form with submit Info */
    .dialog {
        margin-left: 30%;
        width: 50%;
        height: 50%;
    }

    /* Score Area */
    .score-area {
    width: 83%;
    height: 50%;
    margin-top: -1%;
    margin-left: 8%;
    }
    
    /* Div Player Box */
    .card-driver {
    width: calc(28% - 25px);
    margin-left: 15.5%;
    }
    
    /* Cards */
    .card {
    width: calc(35% - 21px);
    height: calc(69% - 10px);
    margin-left: 11%;
    }

}